.auth-info {
    padding: 40px 30px;
    background-color: #785fee;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.auth-info__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    align-self: center;
}

.auth-info__text {
    color: #fff;
}