.login {
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.login__title {
    text-transform: uppercase;
    font-size: 32px;
    text-align: center;
}

.login__sub-title {
    text-align: center;
    margin-bottom: 24px;
}

.login__form {
    row-gap: 16px;
    display: flex;
    flex-direction: column;
}

.login__form-button {
    display: flex;
    justify-content: space-between;
}